In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Social_Network_Ads.csv")

In [3]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
data.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [7]:
independent=data[['User ID', 'Age', 'EstimatedSalary', 'Gender_Male']]

In [8]:
dependent=data[[ 'Purchased']]

In [9]:
data["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [10]:
independent.shape

(400, 4)

In [11]:
dependent.shape

(400, 1)

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [14]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(x_train,y_train)

C:\Users\venka\AppData\Local\Temp\ipykernel_708\4228702713.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train,y_train)

RandomForestClassifier()

In [15]:
ypred=classifier.predict(x_test)

In [16]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,ypred)

In [17]:
from sklearn.metrics import classification_report
class_report=classification_report(y_test,ypred)

In [18]:
cm

array([[72,  7],
       [ 3, 38]], dtype=int64)

In [20]:
print(class_report)

              precision    recall  f1-score   support

           0       0.96      0.91      0.94        79
           1       0.84      0.93      0.88        41

    accuracy                           0.92       120
   macro avg       0.90      0.92      0.91       120
weighted avg       0.92      0.92      0.92       120

In [21]:
import pickle
filename="finalmodelClassification.sav"

In [26]:
pickle.dump(classifier,open("finalmodelClassification.sav","wb"))

In [28]:
FinalModel=pickle.load(open("finalmodelClassification.sav","rb"))

In [29]:
userID=int(input("Enter User ID: "))
Age= int(input("Enter Age: "))
Estimated_Salary=int(input("Salary: "))
Gender=int(input("Enter Gender Male 0 or 1 : "))

Enter User ID: 12568429
Enter Age: 30
Salary: 94000
Enter Gender Male 0 or 1 : 1

In [30]:
Prediction=classifier.predict([[userID,Age,Estimated_Salary,Gender]])

C:\Users\venka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [31]:
print("Prediction is{}:".format(Prediction) )

Prediction is[1]: